
DropLabel#top_card {
    background-color: #c2c2c2;
    qproperty-alignment: AlignCenter;
    qproperty-wordWrap: true;
    font-family: Helvetica;
    font-size: 56pt;
}

DropLabel#center_card {
    background-color: #cecece;
    qproperty-alignment: AlignCenter;
    qproperty-wordWrap: true;
    font-family: Helvetica;
    font-size: 56pt;
}

DropLabel#bottom_card {
    background-color: #cecece;
    qproperty-alignment: AlignCenter;
    qproperty-wordWrap: true;
    font-family: Helvetica;
    font-size: 56pt;
}


Section#top {
    background-color: #f4f4f4;
}

Section#center {
    background-color: #f4f4f4;
}

Section#bottom {
    background-color: #f4f4f4;
}