CenterStackFrame {
    background-color: #f8f8f8;
}

TeminalFrame {
}

TerminalLine {
    background-color: #5b636a;
    color: #0b8fee;
    font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 16pt;
    height: 48px;
    border: none;

}



TerminalLabel {
    background-color: #dcdcde;
    color: #063357;
    font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 16pt;
}

