ChooseDictListView {
    border-top: none;
    border-left: none;
    border-right: 1px solid #979797;
    border-bottom: none;
    background: #c4bbad;
    color: #252424;
    font-family: Helvetica;
    font-size: 16pt;
    /*outline: 0;*/
}

ChooseDictListView::item:hover {
    background: #cecece;
    color: #151414;
}

ChooseDictListView::item:selected {
    background: #206eb2;
    color: #ffffff;
}




ChooseDictControls {
    background-color: #c4bbad;

}

TextFrame {
     background-color: #faf4e0;
     font-size: 14pt;
     font-family: Helvetica;
     border: 2px solid #cbcbcb;
}

ControlBtn{
    /*image: url(":/addSound.png");*/
    color: #5d5d5f;
    border: 1px solid #0f7994;
    border-radius: 4px;
    padding: 4px 0px 4px 0px;
    font-family: Helvetica;
    font-size: 14px;
    font-style: italic ;


}

ControlBtn:hover {
    border: 1px solid #f4f4f6;
}

ProgressLabel {
    background-color: #e9e9eb;
    font-size: 12pt;
    font-family: Helvetica;
    font-style: italic;
    color: #6e6e6e;
}

QLabel#LoadSoundsDialog_statusLabel {
    background-color: #e9e9eb;
    font-size: 10pt;
    font-family: Helvetica;
    font-style: italic;
    color: #6e6e6e;
    padding: 4px 0px 6px 0px;
    border: 1px solid #11b9e7;
}

/*ChooseDictStack {*/
    /*background-color: #e8e8e8;*/

/*}*/

/*ViewStack {*/
    /*background-color: #c2c2c2;*/
/*}*/

/*ChooseDictStack {*/
    /*background-color: #c9c9c9;*/
    /*border-left: 1px solid #5d5d5f;*/
    /*border-right:  1px solid #5d5d5f;*/
    /*border-bottom:  1px solid #5d5d5f;*/
    /*border-top: 1px solid #5d5d5f;*/
/*}*/

/*ControlFrame {*/
    /*background-color: #d1d1d3;*/
/*}*/

/*TextFrame {*/
    /*background-color: #a8a8a8;*/
/*}*/

