
ChooseDictControls {
    background-color: #dfdfe1;
    border: none;
}

TextFrame {
     background-color: #e9e9eb;
     font-size: 14pt;
     font-family: Helvetica;
}

ControlBtn{
    /*image: url(":/addSound.png");*/
    color: #5d5d5f;
    border: 1px solid #0f7994;
    border-radius: 4px;
    padding: 4px 0px 4px 0px;
    font-family: Helvetica;
    font-size: 14px;
    font-style: italic ;


}

ControlBtn:hover {

    border: 2px solid #0eb715;
    color: #00A000;
}



ProgressLabel {
    background-color: #e9e9eb;
    font-size: 12pt;
    font-family: Helvetica;
    font-style: italic;
    color: #6e6e6e;
}

QLabel#LoadSoundsDialog_statusLabel {
    background-color: #e9e9eb;
    font-size: 10pt;
    font-family: Helvetica;
    font-style: italic;
    color: #6e6e6e;
    padding: 4px 0px 6px 0px;
    border: 1px solid #11b9e7;
}