


TextFrame {
     background-color: #e9e9eb;
     font-size: 14pt;
     font-family: Helvetica;
}

ControlBtn {

    border: none;
    padding: 10px 0px 0px 0px;
}

ControlBtn:hover {

    color: #00A000;
}


ControlBtn#loadSoundsBtn {
    /*border: none;*/
    image: url(":/addSound.png");
    width: 22px;
    height: 22px;
    /*padding: 10px 0px 0px 0px;*/
}

ControlBtn#loadSoundsBtn:hover {

    image: url(":/addSoundHover.png");
}