
AbcControlBtn{
    /*image: url(":/addSound.png");*/
    color: #5d5d5f;
    border: 1px solid #30cecd;
    border-radius: 4px;
    padding: 4px 0px 4px 0px;
    font-family: Helvetica;
    font-size: 14px;
    font-style: italic ;

}

AbcControlBtn:hover {
    border: 1px solid #f6d72a;
}

AbcSpinBox {
    font-family: Helvetica;
    font-size: 12px;
    color: #24282e;
    min-height: 22px;
    max-width: 100px;
}

AbcFormLabel {
    font-family: Helvetica;
    font-size: 14px;
    color: #202022;
}