

DropLabel {
    font-size: 44px;
    qproperty-alignment: AlignCenter;

}


DropLabel#Word {
    font-size: 76px;
    qproperty-alignment: AlignCenter;
    color: #525254;

}

DropLabel#cyrillicTrans {
    font-size: 30px;
    color: #525254;
}


DropLabel#translation {
    font-size: 48px;
    color: #054494;
}

DropLabel#example {
    font-size: 20px;
    color: #6e6e6e;
    qproperty-alignment: AlignLeft;
    padding: 10px 0px 0px 15px;
}

DropLabel#example2 {
    font-size: 20px;
    color: #6e6e6e;
}





