
DropLabel#top_card {
    background-color: #fbd657;
    qproperty-alignment: AlignCenter;
    qproperty-wordWrap: true;
    font-family: Helvetica;
    font-size: 56pt;
}

DropLabel#center_card {
    background-color: #9c9c9e;
    qproperty-alignment: AlignCenter;
    qproperty-wordWrap: true;
    font-family: Helvetica;
    font-size: 56pt;
}

DropLabel#bottom_card {
    background-color: #6d9dfb;
    qproperty-alignment: AlignCenter;
    qproperty-wordWrap: true;
    font-family: Helvetica;
    font-size: 56pt;
}


Section#top {
    background-color: #ffffff;
}

Section#center {
    background-color: #ffffff;
}

Section#bottom {
    background-color: #ffffff;
}