Section {
   background-color: #f8f8f8;
}

/*CardView {*/
    /*background-color: #6ab3ba;*/
/*}*/

ViewCardStack {
    background-color: #cfcfd1;
}

DropLabel#viewCardStack {

    background-color: white;
    qproperty-alignment: AlignCenter;
    qproperty-wordWrap: true;
    font-family: Helvetica;
    font-size: 56pt;
}
